*{
	margin: 0;
	padding: 0;
	list-style: none;
	/*文本装饰  如超链接下划线*/
	text-decoration: none;
}

/*头部导航栏*/

.header-nav{
	height: 30px;
	background-color: rgb(245,245,245);
}

.header-nav .nav-list{
	width:800px;
	height: 100%;
	margin: 0 auto;
}
.header-nav .nav-item{
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: rgb(102,102,102);
	/*鼠标变成手的样式*/
	cursor: pointer;
}
.header-nav .area{
	float: left;
}

.header-nav .nav-item a{
	margin: 0 10px;
	
}
.header-nav .nav-item span{
	font-size: 12px;	
	color: rgb(102,102,102);
}
.header-nav .nav-item:hover a{
	color: deeppink;
}

/*头部图片信息*/
.header-info{
	width:800px;
	height:100px;
	margin:0 auto;
	
}

.header-info img{
	height:100%;
	float:right;
	cursor:pointer;
	
}
.header-info .logo{
	float:left;
}


